flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-restful = "*"
importlib-metadata = "*"
importlib-resources = "*"
ipdb = "*"
pytest = "*"
faker = "*"
sqlalchemy-serializer = "*"
honcho = "*"
gunicorn = "*"
werkzeug = "*"
flask-cors ="*"